
body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

.em-text{
  color: blueviolet !important; 
}


h1{
color: #008000;
    font-family: 'Patua One', cursive;
}

h2{
    font-family: 'Playball', cursive;
color: #FF0000;
}

.jumbotron{
background-color: #0DFF96;
}

.jumbotron h1{
color: #008000;
     font-family: 'Patua One', cursive;
}